/* Sidebar.css */
.sidebar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .menu-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
  }
  
  .sidebar-title {
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
  }
  
  .nav-item {
    margin-bottom: 10px;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Adding transition effect for smooth color change */
  }
  
  .nav-link:hover {
    color: #007bff !important;
  }
  
  .menu-text {
    margin-left: 10px;
  }
  
  .sidebar-footer {
    text-align: center;
    margin-top: auto;
  }
  