html,
body {
  height: 100%;
  margin: 0;
}

.sidebar {
  background-color: #333;
  color: #fff;
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.sidebar h1 {
  padding: 20px;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #555;
}

.sidebar .button-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebar button {
  display: block;
  width: 80%;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: red;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #cc0000;
}
