.login-form {
    max-width: 500px;
    margin: auto;
    padding-top: 100px;
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.row {
    overflow: hidden;
}

.sideImg {
    height: '100vh';
    overflow: hidden;
}

.sideImg img {
    height: 100vh;
}